.stats-section {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 20px;
  width: 100%;
}

.stats-section h2 {
  color: #ff5722;
  margin-bottom: 10px;
}

.stats-section h3 {
  margin-top: 15px;
}
