.top-fans-list {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 20px;
  width: 100%;
}

.top-fans-list h2 {
  color: #ff5722;
  margin-bottom: 10px;
}
